h2{
    text-align: center;
    color: #034f84;
}
.home-container{
    background-color:#034f84;
    margin: 3em;
    padding: 5em;
    color: #f7786b;
    border-radius: 20px;
    text-align: center;
    font-size: 1.5em;
}